name: Netflix Clone App CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build_job:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [25]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
  
